In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
import plotly.graph_objects as go
import matplotlib.pyplot as plt
import datetime
from dateutil.relativedelta import relativedelta
from datetime import date

# Reading data into a dataframe

In [2]:
xls = pd.ExcelFile('Pearson.xlsx')

In [3]:
df1 = pd.read_excel(xls, 'Dataset')

In [4]:
df1

,Activity ID,Enrollment Opportunity: Enrollment Opportunity ID,Related Program,Enquiry,Date New Enquiry,Prospect,Date Prospect,App Started,Date App Started,App Submitted,Date App Submitted,Registered / Deposit Paid,Date Registered / Deposit Paid,Category,Type (Hidden),Call Duration In Seconds (seconds),Advisor
0,00T4I00005QBYrO,App ID-1426476,Prog_0012,1,44197,0,NaN,0,NaN,0,NaN,0,NaN,Contact not complete,Call,NaN,Advisor - 13
1,00T4I00005QBZQi,App ID-1426591,Prog_0002,1,44197,0,NaN,0,NaN,0,NaN,0,NaN,Contact not complete,Call,NaN,Advisor - 03
2,00T4I00005QYMfl,App ID-1426605,Prog_0004,1,44197,1,44210.0,0,NaN,0,NaN,0,NaN,Contact not complete,Call,NaN,Advisor - 03
3,00T4I00005istwC,App ID-1426627,Prog_0007,1,44197,1,44211.0,0,NaN,0,NaN,0,NaN,Contact Complete,Call,NaN,Advisor - 12
4,00T4I00005k2iGJ,App ID-1426835,Prog_0011,1,44198,1,44201.0,1,44203.0,1,44203.0,0,NaN,Contact not complete,Call,NaN,Advisor - 19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150857,00T4I000061kXkh,App ID-2014796,Prog_0001,1,44861,0,NaN,0,NaN,0,NaN,0,NaN,Contact not complete,Call,NaN,Advisor - 06
150858,00T4I000061kVm8,App ID-2014842,Prog_0006,1,44861,0,NaN,0,NaN,0,NaN,0,NaN,Contact not complete,Call,NaN,Advisor - 05
150859,00T4I000061kWor,App ID-2014871,Prog_0007,1,44861,1,44861.0,1,44861.0,1,44861.0,0,NaN,Contact not complete,Call,4.0,Advisor - 22
150860,00T4I000061kWo3,App ID-2014871,Prog_0007,1,44861,1,44861.0,1,44861.0,1,44861.0,0,NaN,Contact not complete,Call,19.0,Advisor - 22
150861,00T4I000061kWr3,App ID-2014871,Prog_0007,1,44861,1,44861.0,1,44861.0,1,44861.0,0,NaN,Contact not complete,Call,NaN,Advisor - 22

# Data validation checks

## The "Activity ID" column should contain all unique values. Checking to see if "Activity ID" column contains all unique values.

In [5]:
uniqueValues = df1['Activity ID'].nunique()


if len(df1.axes[0]) == uniqueValues:
     print('The "Activity ID" column within the dataframe contains all unique values.')
else:
    print('The "Activity ID" column within the dataframe does not contain all unique values.')

The "Activity ID" column within the dataframe contains all unique values.

## The "Enrollment Opportunity ID" column should not contain all unique values. Checking to see if "Enrollment Opportunity ID" column contains all unique values.

In [6]:
EnrollmentuniqueValues = df1['Enrollment Opportunity: Enrollment Opportunity ID'].nunique()


if len(df1.axes[0]) == EnrollmentuniqueValues:
     print('The "Enrollment Opportunity ID" column within the dataframe contains all unique values.')
else:
    print('The "Enrollment Opportunity ID" column within the dataframe does not contain all unique values.')

The "Enrollment Opportunity ID" column within the dataframe does not contain all unique values.

## The "Related Program" column should have all rows start with Prog_. Checking to see if "Related Program" starts with Prog_.

In [7]:
df = df1[df1['Related Program'].str.startswith('Prog_')]

In [8]:
if len(df1.axes[0]) == len(df.axes[0]):
     print('All the rows in "Related Program" column start with Prog_.')
else:
     print('Not all the rows in "Related Program" column start with Prog_.')

All the rows in "Related Program" column start with Prog_.

## The "Enquiry" column should only contain 1

In [9]:
enquiry_unique = df1['Enquiry'].nunique()

if 1 == enquiry_unique:
     print('The "Enquiry" column within the dataframe contains only 1 unique value which is 1.')
else:
    print('The "Enquiry" column within the dataframe does not contain 1 unique value it contains mulltiple.')

The "Enquiry" column within the dataframe contains only 1 unique value which is 1.

## The "Prospect" column should only contain 1 and 2

In [10]:
prospect_unique = df1['Prospect'].nunique()

if 2 == prospect_unique:
     print('The "Prospect" column within the dataframe contains only 2 unique value which are 1 and 2.')
else:
    print('The "Prospect" column within the dataframe does not contain 2 unique values it contains mulltiple.')

The "Prospect" column within the dataframe contains only 2 unique value which are 1 and 2.

## The "App Started" column should only contain 1 and 2

In [11]:
app_unique = df1['App Started'].nunique()

if 2 == app_unique:
     print('The "App Started" column within the dataframe contains only 2 unique value which are 1 and 2.')
else:
    print('The "App Started" column within the dataframe does not contain 2 unique values it contains mulltiple.')

The "App Started" column within the dataframe contains only 2 unique value which are 1 and 2.

## The "App Submitted" column should only contain 1 and 2

In [12]:
app_submitted_unique = df1['App Submitted'].nunique()

if 2 == app_submitted_unique:
     print('The "App Submitted" column within the dataframe contains only 2 unique value which are 1 and 2.')
else:
    print('The "App Submitted" column within the dataframe does not contain 2 unique values it contains mulltiple.')

The "App Submitted" column within the dataframe contains only 2 unique value which are 1 and 2.

## The "Registered / Deposit Paid" column should only contain 1 and 2

In [13]:
registered_deposit_paid_unique = df1['Registered / Deposit Paid'].nunique()

if 2 == registered_deposit_paid_unique:
     print('The "Registered / Deposit Paid" column within the dataframe contains only 2 unique value which are 1 and 2.')
else:
    print('The "Registered / Deposit Paid" column within the dataframe does not contain 2 unique values it contains mulltiple.')

The "Registered / Deposit Paid" column within the dataframe contains only 2 unique value which are 1 and 2.

## Checking to see the number of NaN values in all of the columns.

In [14]:
df1.isna().sum()

Activity ID                                               0
Enrollment Opportunity: Enrollment Opportunity ID         0
Related Program                                           0
Enquiry                                                   0
Date New Enquiry                                          0
Prospect                                                  0
Date Prospect                                         98138
App Started                                               0
Date App Started                                     120266
App Submitted                                             0
Date App Submitted                                   129675
Registered / Deposit Paid                                 0
Date Registered / Deposit Paid                       137778
Category                                                228
Type (Hidden)                                             0
Call Duration In Seconds (seconds)                    65952
Advisor                                                   0
dtype: int64

## We should convert all NaNs in the Date Prospect, Date App Started, Date App submitted,Date Registered/Deposit Paid and Call Duration in Seconds column to 0s

In [15]:
df1['Date Prospect'] = df1['Date Prospect'].replace(np.nan, 0)
df1['Date App Started'] = df1['Date App Started'].replace(np.nan, 0)
df1['Date App Submitted'] = df1['Date App Submitted'].replace(np.nan, 0)
df1['Date Registered / Deposit Paid'] = df1['Date Registered / Deposit Paid'].replace(np.nan, 0)
df1['Call Duration In Seconds (seconds)'] = df1['Call Duration In Seconds (seconds)'].replace(np.nan, 0)

In [16]:
df1.isna().sum()

Activity ID                                            0
Enrollment Opportunity: Enrollment Opportunity ID      0
Related Program                                        0
Enquiry                                                0
Date New Enquiry                                       0
Prospect                                               0
Date Prospect                                          0
App Started                                            0
Date App Started                                       0
App Submitted                                          0
Date App Submitted                                     0
Registered / Deposit Paid                              0
Date Registered / Deposit Paid                         0
Category                                             228
Type (Hidden)                                          0
Call Duration In Seconds (seconds)                     0
Advisor                                                0
dtype: int64

## Now we should convert NaNs in the "Category" column. This will be done slightly different. If individuals which have NaN in the category column but in the "Call Duration In Seconds" column they have 0 seconds we will convert all the NaNs in the "Category" column to  Contact not complete. However, if the "Call Duration In Seconds" column contains more then 0 seconds we will convert the NaN rows in the "Category" column to Contact Complete.

## The table bellow will contain the rows of individuals which contain NaN in the "Category" column but in the "Call Duration In Seconds" column they will contain x>0 seconds phone call duration.

In [17]:
temp_table = df1[df1['Category'].isna()]
temp_table[temp_table['Call Duration In Seconds (seconds)'] > 0]

,Activity ID,Enrollment Opportunity: Enrollment Opportunity ID,Related Program,Enquiry,Date New Enquiry,Prospect,Date Prospect,App Started,Date App Started,App Submitted,Date App Submitted,Registered / Deposit Paid,Date Registered / Deposit Paid,Category,Type (Hidden),Call Duration In Seconds (seconds),Advisor
5756,00T4I00005ufuX2,App ID-1601325,Prog_0011,1,44399,1,44425.0,1,44750.0,1,44750.0,1,44760.0,NaN,Call,1.0,Advisor - 24
93413,00T4I00005vufrI,App ID-1858070,Prog_0003,1,44707,1,44760.0,1,44761.0,1,44761.0,1,44775.0,NaN,Call,483.0,Advisor - 07

## Convert rows from NaN to 'Contact Complete' only for individuals that have Call Duration longer then 0 seconds.

In [18]:
df1['Category'] = np.where((df1['Category'].isna()) & (df1['Call Duration In Seconds (seconds)'] > 0), 'Contact Complete', df1['Category'])

In [19]:
## Convert the rest of the rows from NaN to Contact not complete

In [20]:
df1['Category'] = df1['Category'].replace(np.nan, 'Contact not complete')

In [21]:
df1.isna().sum()

Activity ID                                          0
Enrollment Opportunity: Enrollment Opportunity ID    0
Related Program                                      0
Enquiry                                              0
Date New Enquiry                                     0
Prospect                                             0
Date Prospect                                        0
App Started                                          0
Date App Started                                     0
App Submitted                                        0
Date App Submitted                                   0
Registered / Deposit Paid                            0
Date Registered / Deposit Paid                       0
Category                                             0
Type (Hidden)                                        0
Call Duration In Seconds (seconds)                   0
Advisor                                              0
dtype: int64

## Convert Contact Completed to Contact Complete within the Category column

In [49]:
df1['Category'] = df1['Category'].replace(['Contact Completed'], 'Contact Complete')

## Convert Contact WhatsApp to SMS/Text within the Category column

In [23]:
df1['Category'] = df1['Category'].replace(['WhatsApp'], 'SMS/Text')

In [24]:
df1['Type (Hidden)'].unique()

array(['Call', 'Email', 'Action'], dtype=object)

## Checking to see the number of rows which contain "Type (Hidden)" as Email and "Call Duration In Seconds" greater then 0. There should be 0 but we can see 598 rows."

In [26]:
y = df1[df1['Type (Hidden)']=='Email']
y=y[y['Call Duration In Seconds (seconds)'] >=1]
y

,Activity ID,Enrollment Opportunity: Enrollment Opportunity ID,Related Program,Enquiry,Date New Enquiry,Prospect,Date Prospect,App Started,Date App Started,App Submitted,Date App Submitted,Registered / Deposit Paid,Date Registered / Deposit Paid,Category,Type (Hidden),Call Duration In Seconds (seconds),Advisor
41,00T4I00005lXtiE,App ID-1428427,Prog_0004,1,44201,1,44238.0,0,0.0,0,0.0,0,0.0,Contact not complete,Email,45.0,Advisor - 09
1167,00T4I00005mR6ms,App ID-1469601,Prog_0011,1,44250,1,44314.0,1,44670.0,1,44670.0,0,0.0,Contact not complete,Email,57.0,Advisor - 12
3121,00T4I00005qtoZZ,App ID-1534724,Prog_0011,1,44326,1,44328.0,0,0.0,0,0.0,0,0.0,Contact Complete,Email,169.0,Advisor - 12
3124,00T4I00005qtpgy,App ID-1535083,Prog_0011,1,44326,1,44328.0,0,0.0,0,0.0,0,0.0,Contact not complete,Email,27.0,Advisor - 15
3516,00T4I00005mQpQX,App ID-1553705,Prog_0007,1,44332,1,44340.0,0,0.0,0,0.0,0,0.0,Contact not complete,Email,86.0,Advisor - 09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146000,00T4I000060pPBb,App ID-1997306,Prog_0008,1,44845,1,44847.0,0,0.0,0,0.0,0,0.0,Contact Complete,Email,1002.0,Advisor - 11
146270,00T4I000060p1ce,App ID-1997966,Prog_0010,1,44845,0,0.0,0,0.0,0,0.0,0,0.0,Contact not complete,Email,3886.0,Advisor - 16
147047,00T4I000061hkhP,App ID-2001161,Prog_0011,1,44848,1,44855.0,0,0.0,0,0.0,0,0.0,Contact Complete,Email,1334.0,Advisor - 22
147671,00T4I00005yA7p2,App ID-2002835,Prog_0002,1,44850,0,0.0,0,0.0,0,0.0,0,0.0,Contact not complete,Email,46.0,Advisor - 08
148435,00T4I000061gr5s,App ID-2005169,Prog_0011,1,44852,0,0.0,0,0.0,0,0.0,0,0.0,Contact Complete,Email,40.0,Advisor - 24

## Reassign the values witthin the "Type (Hidden)" column. We are doing this as Type (Hidden) = call should be the only rows that have a Call Duration larger then 0. But this is not the current case.

In [27]:
# create a list of our conditions
conditions = [
    ((df1['Type (Hidden)'] == 'Call') | (df1['Call Duration In Seconds (seconds)'] >= 1)),
    ((df1['Type (Hidden)'] == 'Email') & (df1['Call Duration In Seconds (seconds)'] == 0)),
    (df1['Type (Hidden)'] == 'Action')
    ]

# create a list of the values we want to assign for each condition
values = ['Call', 'Email','Action']

# create a new column and use np.select to assign values to it using our lists as arguments
df1['Type (Hidden)'] = np.select(conditions, values)

In [30]:
x=df1

# Creating a new column called Funnel_Stage. This column shows us the last Funnel_Stage a customer reached.

In [31]:
# create a list of our conditions
conditions = [
    (x['Enquiry'] > x['Prospect']) & (x['Enquiry'] > x['App Started']) & (x['Enquiry'] > x['App Submitted']) & (x['Enquiry'] > x['Registered / Deposit Paid']),
    (x['Prospect'] >= x['Enquiry']) & (x['Prospect'] > x['App Started']) & (x['Prospect'] > x['App Submitted']) & (x['Prospect'] > x['Registered / Deposit Paid']),
    (x['App Started'] >= x['Prospect']) & (x['App Started'] >= x['Enquiry']) & (x['App Started'] > x['App Submitted']) & (x['App Started'] > x['Registered / Deposit Paid']),
    (x['App Submitted'] >= x['Prospect']) & (x['App Submitted'] >= x['App Started']) & (x['App Submitted'] >= x['Enquiry']) & (x['App Submitted'] > x['Registered / Deposit Paid']),
    (x['Registered / Deposit Paid'] >= x['Enquiry']) & (x['Registered / Deposit Paid'] >= x['Prospect']) & (x['Registered / Deposit Paid'] >= x['App Started']) & (x['Registered / Deposit Paid'] >= x['App Submitted']),
    ]

# create a list of the values we want to assign for each condition
values = ['Enquiry', 'Prospect','App Started','App Submitted','Registered / Deposit Paid']

# create a new column and use np.select to assign values to it using our lists as arguments
x['Funnel_Stage'] = np.select(conditions, values)

# Creating a new column called Final_Date. This column shows us the last Last Date for a customer. This is done by looking at the last funnel stage they have got too and taking that date.

In [32]:
# create a list of our conditions
conditions = [
    (x['Enquiry'] > x['Prospect']) & (x['Enquiry'] > x['App Started']) & (x['Enquiry'] > x['App Submitted']) & (x['Enquiry'] > x['Registered / Deposit Paid']),
    (x['Prospect'] >= x['Enquiry']) & (x['Prospect'] > x['App Started']) & (x['Prospect'] > x['App Submitted']) & (x['Prospect'] > x['Registered / Deposit Paid']),
    (x['App Started'] >= x['Prospect']) & (x['App Started'] >= x['Enquiry']) & (x['App Started'] > x['App Submitted']) & (x['App Started'] > x['Registered / Deposit Paid']),
    (x['App Submitted'] >= x['Prospect']) & (x['App Submitted'] >= x['App Started']) & (x['App Submitted'] >= x['Enquiry']) & (x['App Submitted'] > x['Registered / Deposit Paid']),
    (x['Registered / Deposit Paid'] >= x['Enquiry']) & (x['Registered / Deposit Paid'] >= x['Prospect']) & (x['Registered / Deposit Paid'] >= x['App Started']) & (x['Registered / Deposit Paid'] >= x['App Submitted']),
    ]

# create a list of the values we want to assign for each condition
values = [x['Date New Enquiry'], x['Date Prospect'],x['Date App Started'],x['Date App Submitted'],x['Date Registered / Deposit Paid']]

# create a new column and use np.select to assign values to it using our lists as arguments
x['Final_Date'] = np.select(conditions, values)

## Printing the final dataset to a CSV file

In [33]:
x.to_excel('Pearson_Old_File.xlsx', index=False)

## We are creating a new dataframe.
## Creating a new column "NEW_DATE_COLUMN". We will pivot the entire dataset using said column. This is done as currently an individual has mulltiple date time columns. We want to only have one in each row. The reason for this is that we cant assign a funnel stage to a customer if they have experienced more then one funnel stage. We can only assign either the first or last funnel stage. Therefore, by pivoting the data on the new column we can assign a date time for each funnel stage a customer has completed.

## NEW_DATE_COLUMN was created by combining all the 5 unique date columns wihin the dataframe as a list.

In [34]:
df1['NEW_DATE_COLUMN'] = df1[["Date New Enquiry","Date Prospect","Date App Started","Date App Submitted","Date Registered / Deposit Paid"]].values.tolist()

In [35]:
df1['NEW_DATE_COLUMN'] = df1['NEW_DATE_COLUMN'].values.tolist()

## Seperate the NEW_DATE_COLUMN column list to get rows with only 1 date for each funnel type.

In [37]:
df1 = df1.explode('NEW_DATE_COLUMN')

In [38]:
display(df1.drop_duplicates())

,Activity ID,Enrollment Opportunity: Enrollment Opportunity ID,Related Program,Enquiry,Date New Enquiry,Prospect,Date Prospect,App Started,Date App Started,App Submitted,Date App Submitted,Registered / Deposit Paid,Date Registered / Deposit Paid,Category,Type (Hidden),Call Duration In Seconds (seconds),Advisor,Funnel_Stage,Final_Date,NEW_DATE_COLUMN
0,00T4I00005QBYrO,App ID-1426476,Prog_0012,1,44197,0,0.0,0,0.0,0,0.0,0,0.0,Contact not complete,Call,0.0,Advisor - 13,Enquiry,44197.0,44197.0
0,00T4I00005QBYrO,App ID-1426476,Prog_0012,1,44197,0,0.0,0,0.0,0,0.0,0,0.0,Contact not complete,Call,0.0,Advisor - 13,Enquiry,44197.0,0.0
1,00T4I00005QBZQi,App ID-1426591,Prog_0002,1,44197,0,0.0,0,0.0,0,0.0,0,0.0,Contact not complete,Call,0.0,Advisor - 03,Enquiry,44197.0,44197.0
1,00T4I00005QBZQi,App ID-1426591,Prog_0002,1,44197,0,0.0,0,0.0,0,0.0,0,0.0,Contact not complete,Call,0.0,Advisor - 03,Enquiry,44197.0,0.0
2,00T4I00005QYMfl,App ID-1426605,Prog_0004,1,44197,1,44210.0,0,0.0,0,0.0,0,0.0,Contact not complete,Call,0.0,Advisor - 03,Prospect,44210.0,44197.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150859,00T4I000061kWor,App ID-2014871,Prog_0007,1,44861,1,44861.0,1,44861.0,1,44861.0,0,0.0,Contact not complete,Call,4.0,Advisor - 22,App Submitted,44861.0,0.0
150860,00T4I000061kWo3,App ID-2014871,Prog_0007,1,44861,1,44861.0,1,44861.0,1,44861.0,0,0.0,Contact not complete,Call,19.0,Advisor - 22,App Submitted,44861.0,44861.0
150860,00T4I000061kWo3,App ID-2014871,Prog_0007,1,44861,1,44861.0,1,44861.0,1,44861.0,0,0.0,Contact not complete,Call,19.0,Advisor - 22,App Submitted,44861.0,0.0
150861,00T4I000061kWr3,App ID-2014871,Prog_0007,1,44861,1,44861.0,1,44861.0,1,44861.0,0,0.0,Contact not complete,Call,0.0,Advisor - 22,App Submitted,44861.0,44861.0
150861,00T4I000061kWr3,App ID-2014871,Prog_0007,1,44861,1,44861.0,1,44861.0,1,44861.0,0,0.0,Contact not complete,Call,0.0,Advisor - 22,App Submitted,44861.0,0.0

## Remove the previous 5 Dates as they are no longer needed.

In [39]:
df1 = df1.drop(['Date New Enquiry'], axis=1)
df1 = df1.drop(['Date Prospect'], axis=1)
df1 = df1.drop(['Date App Started'], axis=1)
df1 = df1.drop(['Date App Submitted'], axis=1)
df1 = df1.drop(['Date Registered / Deposit Paid'], axis=1)

## Drop duplicated values within the new dataframe. This is done as some individuals will have duplicated rows. For instance if Customer only completed the Enquiry stage they would have 4 extra rows with date assigned as 0 as they have not completed any other funnel stage. Therefore, we simply remove them.

In [40]:
a = df1.drop_duplicates()

In [41]:
a = a[a['NEW_DATE_COLUMN'] > 0]

In [42]:
a

,Activity ID,Enrollment Opportunity: Enrollment Opportunity ID,Related Program,Enquiry,Prospect,App Started,App Submitted,Registered / Deposit Paid,Category,Type (Hidden),Call Duration In Seconds (seconds),Advisor,Funnel_Stage,Final_Date,NEW_DATE_COLUMN
0,00T4I00005QBYrO,App ID-1426476,Prog_0012,1,0,0,0,0,Contact not complete,Call,0.0,Advisor - 13,Enquiry,44197.0,44197.0
1,00T4I00005QBZQi,App ID-1426591,Prog_0002,1,0,0,0,0,Contact not complete,Call,0.0,Advisor - 03,Enquiry,44197.0,44197.0
2,00T4I00005QYMfl,App ID-1426605,Prog_0004,1,1,0,0,0,Contact not complete,Call,0.0,Advisor - 03,Prospect,44210.0,44197.0
2,00T4I00005QYMfl,App ID-1426605,Prog_0004,1,1,0,0,0,Contact not complete,Call,0.0,Advisor - 03,Prospect,44210.0,44210.0
3,00T4I00005istwC,App ID-1426627,Prog_0007,1,1,0,0,0,Contact Complete,Call,0.0,Advisor - 12,Prospect,44211.0,44197.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150857,00T4I000061kXkh,App ID-2014796,Prog_0001,1,0,0,0,0,Contact not complete,Call,0.0,Advisor - 06,Enquiry,44861.0,44861.0
150858,00T4I000061kVm8,App ID-2014842,Prog_0006,1,0,0,0,0,Contact not complete,Call,0.0,Advisor - 05,Enquiry,44861.0,44861.0
150859,00T4I000061kWor,App ID-2014871,Prog_0007,1,1,1,1,0,Contact not complete,Call,4.0,Advisor - 22,App Submitted,44861.0,44861.0
150860,00T4I000061kWo3,App ID-2014871,Prog_0007,1,1,1,1,0,Contact not complete,Call,19.0,Advisor - 22,App Submitted,44861.0,44861.0
150861,00T4I000061kWr3,App ID-2014871,Prog_0007,1,1,1,1,0,Contact not complete,Call,0.0,Advisor - 22,App Submitted,44861.0,44861.0

## Creating a new column called Streak. This will be used to assign the funnel type to each unique row.Therefore, Streak simply shows us the consecutive occurance for an individual. So if Customer 1 completed the Registered / Deposit Paid stage we will asign a Streak of 1,2,3,4,5 for each consecutive row. Therefore, row 1 will have 1, row 2 will have 2 and so on.

In [43]:
a = a.sort_values(by=['Activity ID', 'NEW_DATE_COLUMN']).reset_index()
a['Streak'] = a['Activity ID'].groupby((a['Activity ID'] != a['Activity ID'].shift()).cumsum()).cumcount() + 1
a

,index,Activity ID,Enrollment Opportunity: Enrollment Opportunity ID,Related Program,Enquiry,Prospect,App Started,App Submitted,Registered / Deposit Paid,Category,Type (Hidden),Call Duration In Seconds (seconds),Advisor,Funnel_Stage,Final_Date,NEW_DATE_COLUMN,Streak
0,24,00T4I00005Q8gn4,App ID-1427270,Prog_0007,1,1,0,0,0,Contact not complete,Call,0.0,Advisor - 13,Prospect,44201.0,44199.0,1
1,24,00T4I00005Q8gn4,App ID-1427270,Prog_0007,1,1,0,0,0,Contact not complete,Call,0.0,Advisor - 13,Prospect,44201.0,44201.0,2
2,33,00T4I00005Q9CRl,App ID-1428193,Prog_0011,1,1,0,0,0,Contact not complete,Call,0.0,Advisor - 21,Prospect,44202.0,44200.0,1
3,33,00T4I00005Q9CRl,App ID-1428193,Prog_0011,1,1,0,0,0,Contact not complete,Call,0.0,Advisor - 21,Prospect,44202.0,44202.0,2
4,47,00T4I00005Q9kwE,App ID-1428579,Prog_0012,1,1,0,0,0,Contact not complete,Call,0.0,Advisor - 19,Prospect,44203.0,44201.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
237083,3590,00T4I000061kYFj,App ID-1555027,Prog_0010,1,1,1,1,0,Contact Complete,Call,220.0,Advisor - 24,App Submitted,44403.0,44339.0,1
237084,3590,00T4I000061kYFj,App ID-1555027,Prog_0010,1,1,1,1,0,Contact Complete,Call,220.0,Advisor - 24,App Submitted,44403.0,44342.0,2
237085,3590,00T4I000061kYFj,App ID-1555027,Prog_0010,1,1,1,1,0,Contact Complete,Call,220.0,Advisor - 24,App Submitted,44403.0,44396.0,3
237086,3590,00T4I000061kYFj,App ID-1555027,Prog_0010,1,1,1,1,0,Contact Complete,Call,220.0,Advisor - 24,App Submitted,44403.0,44403.0,4
237087,149431,00T4I000061kYLw,App ID-2008520,Prog_0007,1,0,0,0,0,Contact Complete,Call,170.0,Advisor - 07,Enquiry,44855.0,44855.0,1

## Now we will use the newly created Streak collumn and assign a funnel stage for each row. Therefore, if row contains Streak = 1 we assign Enquiry, if 2 we assign Prospect and so on.

In [44]:
# create a list of our conditions
conditions = [
    (a['Streak'] == 1),
    (a['Streak'] == 2),
    (a['Streak'] == 3),
    (a['Streak'] == 4),
    (a['Streak'] == 5)
    ]

# create a list of the values we want to assign for each condition
values = ['Enquiry', 'Prospect','App Started','App Submitted','Registered / Deposit Paid']

# create a new column and use np.select to assign values to it using our lists as arguments
a['Funnel_Stage'] = np.select(conditions, values)

## Lastly we drop all of the column which we do not need. We will drop all of the previous funnel stage columns, as weel as the newsly created Streak column.

In [45]:
a = a.drop(['index'], axis=1)
a = a.drop(['Enquiry'], axis=1)
a = a.drop(['Prospect'], axis=1)
a = a.drop(['App Started'], axis=1)
a = a.drop(['App Submitted'], axis=1)
a = a.drop(['Registered / Deposit Paid'], axis=1)
a = a.drop(['Streak'], axis=1)

## Lastly we will save the new dataframe to a excel file.

In [47]:
a.to_excel('Pearson_New_File.xlsx', index=False)